.song-name {
    font-size: 10vw;
}

.vh-75 {
    height: 75vh;
}

.fit-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.rounded-top-left {
    border-top-left-radius: .75rem;
}

.rounded-top-right {
    border-top-right-radius: .75rem;
}

.bg-light-yellow {
    background-color: #ffe9ba;
}

.h5, h5 {
    font-size: 1.1rem;
}